.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
}
.hero img{
    margin-top: 116px;
    width: 250px;
    height: auto;
    border: 3px solid #ec5858;
    border-radius: 50%;
    object-fit: cover;
}
.hero h1{
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 700;
}
.hero h1 span{
    background: linear-gradient(267deg, #f3a0a0 10%, #fd0000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 20px;
}
.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}
.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(264deg, #f3a0a0 -5.09%, #fd0000 106.06%);
    cursor: pointer;
}
.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #ec5858;
    cursor: pointer;
}
.hero-connect:hover{
    border: 2px solid white;
}
.hero-resume:hover{
    background: linear-gradient(264deg, #f3a0a0 -5.09%, #fd0000 106.06%);
    color: white;
}